.modal-scroll::-webkit-scrollbar {
    width: 6px;
}

.modal-scroll::-webkit-scrollbar-thumb {
    background: #0B2C7B;
    border-radius: 10px;
}

.modal-scroll::-webkit-scrollbar-track {
    background: transparent;
}