/* Custom dropdown scrollbar for better UX */
:host ::ng-deep .max-h-56::-webkit-scrollbar {
	width: 8px;
}

:host ::ng-deep .max-h-56::-webkit-scrollbar-thumb {
	background-color: rgba(11,44,123,0.12);
	border-radius: 9999px;
}

:host ::ng-deep .max-h-56::-webkit-scrollbar-track {
	background: transparent;
}

